<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D and D Buddy</title>

    <!-- CSS reset -->
    <link rel="stylesheet" type="text/CSS" href="css/reset.css" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@400;800&display=swap" rel="stylesheet">

    <!--Help Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Foundation JS -->
    <script src="javascript/foundation js/vendor/jquery.js"></script>
    <script src="javascript/foundation js/vendor/what-input.js"></script>
    <script src="javascript/foundation js/vendor/foundation.min.js"></script>

    <!-- Foundation CSS -->
    <link rel="stylesheet" href="css/foundation-float.css" />
    <link rel="stylesheet" href="css/foundation-float.min.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/foundation.min.css" />

    <!-- Dice Icon CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/fponticelli/dicefont/fc6b8c47/dist/dicefont/dicefont.css" />

    <!-- Our CSS -->
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>
    {{{body}}}
</body>

</html>